{% extends "base.html.twig" %}

{% block body %}
  <div class="bg-image-section">
    <img class="" src="{{ asset('img/img3.jpg') }} ">
  </div>
  <div class="ui column centered grid up">
    <div class="column">
      <div class="ui container">
        <h1>
          <u>NOS PRODUITS LES PLUS ACHETES</u>
        </h1>
      </div>
    </div>
  </div>
{% endblock %}