{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div id="root" data-all-product = {{all_product}}></div>
    {{all_product}}
{% endblock %}
